<ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
    <ion-item lines="none">
        <ion-label>
            <ion-title>TÜRKİYE COVID-19 TABLOSU</ion-title>
        </ion-label>
    </ion-item>
</ion-header>


<ion-content class="ion-text-center">
    <ion-card>
        <ion-card-header>Bugün Açıklanan Veriler</ion-card-header>
        <ion-card-title>{{currentDate | date:'dd-MM-yyyy'}}</ion-card-title>
    </ion-card>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>Test Sayısı</ion-card-header>
                <ion-card-title>{{tests}}</ion-card-title>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-card-header>Vaka Sayısı</ion-card-header>
                <ion-card-title>{{cases}}</ion-card-title>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>Hasta Sayısı</ion-card-header>
                <ion-card-title>{{patients}}</ion-card-title>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>İyileşen</ion-card-header>
                <ion-card-title>{{recovered}}</ion-card-title>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-card-header>Vefat</ion-card-header>
                <ion-card-title>{{deaths}}</ion-card-title>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-card-header>Ağır Hasta Sayısı</ion-card-header>
                <ion-card-title>{{critical}}</ion-card-title>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-card-header>Zatürre Olasılığı</ion-card-header>
                <ion-card-title>{{pneumoniaPercent}}</ion-card-title>
            </ion-card>
        </ion-col>

    </ion-row>
    <ion-slides>
        <ion-slide>
            <ion-col>
                <google-chart [type]='chart.PieChart' [data]='this.weeklyTable'
                              [options]='chart.options'></google-chart>
            </ion-col>
        </ion-slide>
        <ion-slide>
            <ion-col>
                <google-chart [type]='chart.AreaChart' [data]='this.weeklyTable'
                              [options]='chart.options1'></google-chart>
            </ion-col>
        </ion-slide>
    </ion-slides>
</ion-content>











