<ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>

    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="https://www.flaticon.com/svg/vstatic/svg/3036/3036842.svg?token=exp=1612138187~hmac=562710bb36302b663f07aafe2f0c0ca4">
        </ion-avatar>
        <ion-label>
            <ion-title>TÜRKİYE COVID-19 TABLOSU</ion-title>
        </ion-label>
    </ion-item>
</ion-header>


    <ion-content mode="ios">
        <ion-row  style="display: flex;"  >
            <ion-col size="12" width="10" size-md="6">
                <ion-card>
                    Card
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card>
                    Card
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card>
                    Card
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-content>






