ion-header {

  ion-toolbar, ion-item {
    --background: #f9f5fc;
    background: #f9f5fc;
    padding: 0 10px;

  }

  ion-item {
    ion-title{
      font-weight: 500;
      font-size: 25px;
    }
  }
}
ion-content{
  --background: #e6ebff;
  ion-card{
    height: 100%;
    border-radius: 14px;
    opacity: 1;
    box-shadow: none;



  }
}




/*
.topNav {
  position: relative;
  background: #ffffff;
  padding: 30px 10px;

  ion-card {
    margin: 0px;
    background: #ffffff;
    border-radius: 20px;

    ion-card-header {
      padding: 20px;

      ion-card-subtitle {
        font-size: 16px;
        text-align: center;
        color: #7974ff;
      }
    }
  }

  ion-card-content {
    font-size: 19px;
    color: #2a2a2a;
    text-align: center;

  }

  ion-input {
    background: #e7e5e5;
    border-radius: 8px;
  }


  ion-icon {
    padding: 5px;
    font-size: 20px;
    position: absolute;
    z-index: 3;
    right: 32px;
    bottom: 4px;

  }

}

main {
  overflow: auto;
  height: 100%;

  ion-list {
    margin-top: 35px;
    background: #1a0909;
    overflow: scroll;
    padding: 0 5px;
  }

  div {
    border-bottom: 1px solid black;
    padding: 0 10px;

    h5 {
      margin: 0;
    }

    h6 {
      margin: 0;
      opacity: -6;
      font-weight: 500;
    }

    span {
      font-weight: 500;
    }

    --background: #f5f5f5;
  }
}
*/
