<ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>

    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="https://www.flaticon.com/svg/vstatic/svg/3036/3036842.svg?token=exp=1612138187~hmac=562710bb36302b663f07aafe2f0c0ca4">
        </ion-avatar>
        <ion-label>
            <ion-title>TÜRKİYE COVID-19 TABLOSU</ion-title>
        </ion-label>
    </ion-item>

</ion-header>

<ion-content>
<div class="card ion-card">
    <ion-card>
        <ion-card-header>
            <div class="main">
            </div>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
            <ion-card-title class="ion-margin-bottom">VAKA SAYISI</ion-card-title>
            <ion-card-subtitle class="ion-text-center"><!--buraya veri gelecek--></ion-card-subtitle>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
            <ion-card-title class="ion-margin-bottom">VAKA SAYISI</ion-card-title>
            <ion-card-subtitle class="ion-text-center"><!--buraya veri gelecek--></ion-card-subtitle>
        </ion-card-content>
    </ion-card>
</div>
</ion-content>

